@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --blue:#00B8F5;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
}
a{
    cursor: none;
}

*::selection{
    background:var(--blue);
    color:#333;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    cursor: none;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--blue);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
    display: flex;
    flex-direction: column;
}

.cursor{
    z-index: 999999;
    background: var(--blue);
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px var(--blue),
                0 0 60px var(--blue),
                0 0 100px var(--blue);
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.cursor::before{
    content: '';
    position: absolute;
    background: var(--blue);
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--blue);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--blue);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--blue);
    transform: scale(1);
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--blue);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
    position: relative;
}

.home .bg-main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home .bg-main .container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home .bg-main .container .img1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home .bg-main .container .img2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.home .bg-main .container .img3{
    position: absolute;
    left: 45%;
    top: 10%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.home .bg-main .container .img4{
    position: absolute;
    left: 20%;
    top: 60%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.home .bg-main .container .img5{
    position: absolute;
    left: 28%;
    top: 34%;
    width: 250px;
    height: 150px;
    z-index: 22;
}




.home h3{
    font-size: 2.5rem;
    color:#fff;
    z-index: 20;
}

.home h1{
    font-size:5rem;
    color:#fff;
    z-index: 20;
}

.home h1 span{
    color:var(--blue);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
    z-index: 20;
}

.home a{
    z-index: 20;
    cursor: none;
}

.home a button{
    z-index: 20;
    cursor: none;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--blue);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    padding-right: 6rem;

}

.about .row .counter .add-info{
    width:100%;
    background:#222;
    text-align: left;
    padding: 2rem;
    border-radius:5px;
}

.about .row .counter h3{
    font-size: 2rem;
    color:var(--blue);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .counter h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter .box{
    width:8rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:1rem;
    border-radius:5px;
    text-decoration: none;
}


.about .row .counter .box  i{
    font-size: 4rem;
    color:var(--blue);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.skills .box-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.skills .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
    min-height:195px;
}

.skills .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.skills .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.skills .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.skills .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--blue);
}



.skills .box-container .box .icon{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--blue);
}

.skills .box-container .box .icon .jq-icon{
    height:2.5rem;
    width:2.5rem;
    vertical-align:middle;
}


.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
    border-top: 4px solid var(--blue);
    border-right: 4px solid var(--blue);
    border-left: 4px solid #05768A;
    border-bottom: 4px solid #05768A;
    text-decoration:none;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    /* text-transform: capitalize; */
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--blue);
}

.top{
    position: fixed;
    bottom:2.5rem; right: 2rem;
    z-index: 100;
    display: none;
}



















/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

    .about .row .counter {
        justify-content: center;
        margin: 0 4rem;
    }

    .skills .box-container , .portfolio .box-container{
        justify-content: center;
    }

    .home .bg-main .container .img5{
        width: 150px;
        height: 100px;
        left: 33%;
        top: 38%;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }

    .about .row .counter {
        justify-content: center;
        padding-right: unset;
    }

    .home .bg-main .container .img5{
        width: 150px;
        height: 100px;
        left: 37%;
        top: 38.6%;
    }

 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    

    .about .row .counter .box{
        width: 100%;
    }
 
    .skills .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }
 }

 @media (max-width: 500px){
    .home .bg-main .container .img5{
        display: none;
    }
 }